In [9]:
import pandas as pd

# 定义彩票号码数据
my_tickets = [

        {'reds': {6, 21, 24, 25, 32}, 'blue': {10, 11}},
        {'reds': {4, 6, 7, 10, 27}, 'blue': {8, 9}},
        {'reds': {17, 18, 19, 21, 30}, 'blue': {7, 8}},
        {'reds': {3, 4, 9, 17, 21}, 'blue': {1, 4}},
        {'reds': {5, 6, 7, 9, 15}, 'blue': {2, 4}},
        {'reds': {8, 13, 18, 20, 25}, 'blue': {6, 9}},
        {'reds': {3, 4, 6, 22, 28}, 'blue': {1, 5}},
        {'reds': {6, 11, 14, 15, 23}, 'blue': {1, 8}},
        {'reds': {3, 4, 6, 29, 31}, 'blue': {10, 12}},
        {'reds': {2, 9, 12, 24, 31}, 'blue': {3, 4}},
        {'reds': {15, 23, 26, 28, 30}, 'blue': {1, 3}},
        {'reds': {9, 13, 21, 27, 35}, 'blue': {5, 6}},
        {'reds': {2, 7, 25, 29, 35}, 'blue': {8, 10}},
        {'reds': {5, 10, 31, 32, 34}, 'blue': {1, 7}},
        {'reds': {2, 5, 12, 15, 29}, 'blue': {5, 9}},

    ]

# 将彩票号码转换为 DataFrame
ticket_data = []
for ticket in my_tickets:
    ticket_row = {
        'red1': sorted(list(ticket['reds']))[0],
        'red2': sorted(list(ticket['reds']))[1],
        'red3': sorted(list(ticket['reds']))[2],
        'red4': sorted(list(ticket['reds']))[3],
        'red5': sorted(list(ticket['reds']))[4],
        'blue1': sorted(list(ticket['blue']))[0],
        'blue2': sorted(list(ticket['blue']))[1],
    }
    ticket_data.append(ticket_row)

df = pd.DataFrame(ticket_data)

# 将数据导出为 Excel 文件
output_file = '/Users/liangkaixi/Desktop/mydlt_tickets.xlsx'  # 替换为你的文件路径
df.to_excel(output_file, index=False)

print(f"彩票号码已导出到 {output_file}")

彩票号码已导出到 /Users/liangkaixi/Desktop/mydlt_tickets.xlsx

# 大乐透号码导入数据库

In [1]:
import pymysql
import pandas as pd

# 连接到远程 MySQL 数据库
connection = pymysql.connect(
    host='47.108.214.185',
    user='root001',        # 替换为您的 MySQL 用户名
    password='shuqi520',# 替换为您的 MySQL 密码
    database='school',             # 数据库名
    charset='utf8mb4'
)

try:
    with connection.cursor() as cursor:

        # 读取 Excel 文件
        bank_data = pd.read_excel('/Users/liangkaixi/Desktop/mydlt_tickets.xlsx')
        # 插入数据的SQL语句
        insert_query = """
            INSERT INTO dlt_lottery_tickets(user_id, red1, red2, red3, red4, red5, blue1, blue2)
            VALUES (%s, %s, %s, %s, %s, %s, %s,%s)
            """

        # 插入每一行数据
        for _, row in bank_data.iterrows():
            cursor.execute(insert_query, (
                row['user_id'], row['red1'], row['red2'],
                row['red3'], row['red4'], row['red5'], row['blue1'], row['blue2']
            ))

        # 提交事务
        connection.commit()
        print("数据插入成功!")

except Exception as e:
    print(f"发生错误: {e}")
finally:
    connection.close()

数据插入成功!

# 双色球写入数据库

In [ ]:
import pymysql
import pandas as pd

# 连接到远程 MySQL 数据库
connection = pymysql.connect(
    host='47.108.214.185',
    user='root001',        # 替换为您的 MySQL 用户名
    password='shuqi520',# 替换为您的 MySQL 密码
    database='school',             # 数据库名
    charset='utf8mb4'
)

try:
    with connection.cursor() as cursor:

        # 读取 Excel 文件
        bank_data = pd.read_excel('/Users/liangkaixi/Desktop/my_tickets.xlsx')
        # 插入数据的SQL语句
        insert_query = """
            INSERT INTO lottery_tickets(user_id, red1, red2, red3, red4, red5, red6, blue)
            VALUES (%s, %s, %s, %s, %s, %s, %s,%s)
            """

        # 插入每一行数据
        for _, row in bank_data.iterrows():
            cursor.execute(insert_query, (
                row['user_id'], row['red1'], row['red2'],
                row['red3'], row['red4'], row['red5'], row['red6'], row['blue']
            ))

        # 提交事务
        connection.commit()
        print("数据插入成功!")

except Exception as e:
    print(f"发生错误: {e}")
finally:
    connection.close()